/.metadata
/.settings
/Servers
/target
/.classpath
/*.project
exam25/project
*.prefs
*.component
*.container
*.name
mavenweb/bin
*.properties
exam25/.project
first/.project
exam31/.project
mavenweb/.project
mavenweb/.settings
mavenweb/bin
firstweb/.project
mavenweb/bin
mavenweb/target
